body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.global-container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: center;
}

.avatar>img {
  width: 300px;
  margin-top: 20px;
}

.text-left { text-align: left; }

.flex-inner {
  width: 300px;
  margin: 20px 50px;
}

h2 { color: #999; }

.skills { margin-left: 20px; }

li { line-height: 28px; }